


	


	<div class="side_right_home">
		<div class="side_home_text">
		<h1 class="haaruun">I'm Haaruun</h1>
		
		<h3>Multimedia | Video | Web Development</h3>

		<div class ="social_home">
			<a href="https://twitter.com/haaruund"><i class="fa fa-twitter"></i></a>
			<a href="https://www.instagram.com/haaruun_though/"><i class="fa fa-instagram"></i></a>
			<a href="https://github.com/Haaruun"><i class="fa fa-github"></i></a>
		</div>	

		<p>I'm a journalist and multimedia producer based in Toronto. I am passionate about data/data visualizations, front-end development/design, rails, web scraping, and motion graphic design. I use these tools and techniques to engage people. dustry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
	

			<div class="cvs">
			<div class="cvu">
		<p><%= link_to 'Download Resume', home_pdf_path %></p>
			</div>

			<div class="online_res">
				<p><a href="http://haaruun.github.io/New_Site">Online Resume</a></p>
			</div>
	
		

	</div>

	</div>


		</main>
		
	